@import './colors.scss';

.input{
    color: $smokey_grey;

    &__label{
        text-transform: uppercase;
        font-size: 0.7em;
    }
    &__body{
        font-size: 1.3em;
        font-weight: 800;
        width: 4em;
        margin-top: 8px;
        padding: 10px;
        border: 1px solid $light_grey;
        border-radius: 5px;
        &::placeholder{
            font-weight: 800;
        }
        &:focus{
            outline-style: solid;
            outline-width: thin;
            outline-color: $purple;
        }
        &:hover{
            outline-style: solid;
            outline-width: thin;
            outline-color: $purple;
            cursor: pointer;
        }
    }

}