@import './colors.scss';

.result{
    &__item{
        display: flex;
        align-items: center;
        gap: 0.25em;
        font-size: 4em;
        font-weight: 800;
        font-style: italic;
    }
    &__amount{
        color: $purple;
    }
    &__category{
        color: $off_black;
    }
}